<!doctype html>
<html ng-app="app">
<head>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="balloon.css"/>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="MainCtrl">
    <nav>
        <ul>
            <li data-balloon="Bricklayers" data-balloon-pos="down">
                <img alt="Bricklayers Logo" src="images/bricklayers.png"/>
            </li>
            <li data-balloon="Dynamet" data-balloon-pos="down">
                <img alt="Dynamet Logo" src="images/dynamet.png"/>
            </li>
            <li data-balloon="Crabtree Lakers" data-balloon-pos="down">
                <img alt="Lakers Logo" src="images/lakers.png"/>
            </li>
            <li data-balloon="MetLife Ballers" data-balloon-pos="down">
                <img alt="MetLife Ballers Logo" src="images/metlifeballers.png"/>
            </li>
            <li data-balloon="The Nerds" data-balloon-pos="down">
                <img alt="The Nerds Logo" src="images/nerds.png"/>
            </li>
            <li data-balloon="MetLife Basketball Association" data-balloon-pos="down">
                <img alt="MBA Logo" src="images/mba.jpeg"/>
            </li>
            <li data-balloon="Red Baron" data-balloon-pos="down">
                <img alt="Red Baron Logo" src="images/redbaron.png"/>
            </li>
            <li><img src="images/lakers.png"/></li>
            <li><img src="images/lakers.png"/></li>
            <li><img src="images/lakers.png"/></li>
            <li><img src="images/lakers.png"/></li>
            <li><img src="images/lakers.png"/></li>
        </ul>
    </nav>

    <section ng-if="!hasCurrentTeam">
        Standings
        <table >
            <thead>
                <tr>
                    <th>
                        Team
                    </th>
                    <th>
                        W
                    </th>
                    <th>
                        L
                    </th>
                    <th>
                        PF
                    </th>
                    <th>
                        PA
                    </th>
                    <th>
                        PD
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in standings | orderBy:['-wins', 'wpct', '-pf', '+pa']">
                    <td>
                        {{team.name}}
                    </td>
                    <td>
                        {{team.wins}}
                    </td>
                    <td>
                        {{team.losses}}
                    </td>
                    <td>
                        {{team.pf}}
                    </td>
                    <td>
                        {{team.pa}}
                    </td>
                    <td>
                        <span class="win" ng-if="team.pd > 0">{{team.pd}}</span>
                        <span ng-if="team.pd === 0">{{team.pd}}</span>
                        <span class="loss" ng-if="team.pd < 0">{{team.pd}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <section ng-if="!hasCurrentTeam">
        Results
        <table  ng-repeat="game in games">
            <tbody>
                <tr>
                    <td>
                        <span class="win" ng-if="game.win1">{{game.team1}}</span>
                        <span ng-if="game.win2">{{game.team1}}</span>
                    </td>
                    <td>
                        <span class="win" ng-if="game.win1">{{game.score1}}</span>
                        <span ng-if="game.win2">{{game.score1}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="win" ng-if="game.win2">{{game.team2}}</span>
                        <span ng-if="game.win1">{{game.team2}}</span>
                    </td>
                    <td>
                        <span class="win" ng-if="game.win2">{{game.score2}}</span>
                        <span  ng-if="game.win1">{{game.score2}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>




    <section ng-if="hasCurrentTeam">
        <table >
            <tbody>
                <tr ng-repeat="game in games">
                    <td>
                        vs.
                    </td>
                    <td ng-if="currentTeam.localeCompare(game.team1) === 0">
                        <span>{{game.team2}}</span>
                    </td>
                    <td ng-if="currentTeam.localeCompare(game.team2) === 0">
                        <span>{{game.team1}}</span>
                    </td>
                    <td ng-if="currentTeam.localeCompare(game.team1) === 0">
                        <span class="win" ng-if="game.win1">W</span>
                        <span class="loss" ng-if="game.win2">L</span>
                    </td>
                    <td ng-if="currentTeam.localeCompare(game.team2) === 0">
                        <span class="win" ng-if="game.win2">W</span>
                        <span class="loss" ng-if="game.win1">L</span>
                    </td>
                    <td>
                        <span ng-if="game.win1">{{game.score1}} - {{game.score2}}</span>
                        <span ng-if="game.win2">{{game.score2}} - {{game.score1}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
